/* social media icons */

.icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon_container .icon_content {
    margin: 0 10px;
    position: relative;
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.icon_container .icon_content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 15px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.icon_container .icon_content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.icon_container .icon_content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 20%;
  color: black;
  background-color: white;
  transition: all 0.3s ease-in-out;
}
.icon_container .icon_content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 50%);
}
.icon_container .icon_content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.icon_container .icon_content a:hover {
  color: white;
}
.icon_container .icon_content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.icon_container .icon_content a:hover .filled {
  height: 100%;
}
.icon_container .icon_content a[data-social="spotify"] .filled,
.icon_container .icon_content a[data-social="spotify"] ~ .tooltip {
  background-color: #1db954;
}
.icon_container .icon_content a[data-social="pinterest"] .filled,
.icon_container .icon_content a[data-social="pinterest"] ~ .tooltip {
  background-color: #bd081c;
}
.icon_container .icon_content a[data-social="dribbble"] .filled,
.icon_container .icon_content a[data-social="dribbble"] ~ .tooltip {
  background-color: #ea4c89;
}
.icon_container .icon_content a[data-social="telegram"] .filled,
.icon_container .icon_content a[data-social="telegram"] ~ .tooltip {
  background-color: #0088cc;
}
  
